# Default ignored files
/../../Web_based_Student_Event_Aggregator_&_Planner./.idea/shelf/
/../../Web_based_Student_Event_Aggregator_&_Planner./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Web_based_Student_Event_Aggregator_&_Planner./.idea/httpRequests/
